.start{
	display:block;
	position:absolute;
    width: 500px;
	height: 400px;
	margin:	-200px 0 0 -250px;
	top:50%;
	left:50%;
	background:white;
	z-index:100;
	border-radius: 20px;
	box-shadow: inset -10px -10px 10px -10px rgba(0,0,0,0.75),inset 10px 10px 10px -10px rgba(0,0,0,0.75);
}
.text{
padding:20px;
font-family: 'Comfortaa', cursive;
font-size: 30px;
text-shadow:1px 1px 1px gray;
}
.name{
	font-family: 'Russo One', sans-serif;
	text-align: center;
	font-size: 60px;
	background: linear-gradient(#ff0000, #09fd02);
  	-webkit-background-clip: text; 
  	color: transparent;
  	padding: 10px;
}
.name:after {
  content: "";
  position: absolute; top: 0; left: -2em;
  width: 100%;
  /*height: 100%;*/
  background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
  background-size: 2em 100%;
  transform: skewX(-50deg);
}
.name:hover:after {
  transition: 2s linear;
  background-position: 100% 0%;
}
.button{
	display:block;
	position: relative;
	width: 100px;
	text-align:center;
	/* height: 80px; */
	top:50px;
	margin:0 auto;
	background:crimson;
	padding: auto;
	border-radius: 20px;
	/* box-shadow: inset -10px -10px 10px -10px rgba(0,0,0,0.75),inset 10px 10px 10px -10px rgba(0,0,0,0.75); */
}
.button:active{
	box-shadow: inset -10px -10px 10px -10px rgba(0,0,0,0.75),inset 10px 10px 10px -10px rgba(0,0,0,0.75);
}
.button p::selection {
   background: transparent;
}
.button p{
	cursor:pointer;
	padding:10px 10px;
	font-size: 40px;
	text-shadow:1px 1px 1px white;
}

.bubble{
display:flex;
flex-wrap:  wrap;
transition:background .5s ease,border-radius .6s ease-out ;
width: 50%;
height: 50%;
border-radius:50%;
background:none;

}
.bubble-container{
	display:flex;
	flex-wrap:  wrap;
	position:absolute;
	width: 600px;
	height: 600px;
	top:50%;
	left:50%;
	margin:	-300px 0 0 -300px;
background:none;
}
.grac{
	border-radius:50%;
	width: 600px;
	height: 200px;
	color:white;
	margin: -100px 0 0 -300px;
	font-size: 45px;
	display:none;
	position: relative;
	top:50%;
	left: 50%;
	text-align:center;
	word-wrap: break-word;
	
}
.copy{
	position: absolute;
	width: 250px;
	text-align: center;	
	align-self: center;
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
    margin: 0 -125px;
    top:430px;
    left:50%;
}
.visible{
cursor:pointer;
}


