@media only screen and (max-width: 870px) {
  div.control {
    display: flex;
  }
}
* {
    box-sizing: border-box;
}
.info {
    /*display: none;*/
    position: relative;
    width: 100%;
    height: 100px;
    top: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    text-align: center;
}
.container {
    /*display: none;*/
    position: relative;
    margin: 0px 0 0 -320px;
    /*top: 100px;*/
    left: 50%;
    width: 640px;
    height: 480px;

}

.text__wrapper {
    margin: 0px 0 0 -320px;
    top: 100px;
    left: 50%;
    width: 640px;
    height: 480px;
    position: absolute;
    text-align: center;
    padding: 10px;
    border: 32px solid;
    vertical-align: center;
    display: block;
    font-size: 26px;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
}

.text__wrapper.begin {
    padding: 20px 30px;
    /*display: none;*/
}

.text__wrapper.again {
    padding: 50px 30px;
    display: none;
}

.text {
    color: #6F6F6F;
}

.button {
    cursor: pointer;
    background-color: #36AC3B;
    padding: 10px 10px;
    width: 350px;
    margin: 20px auto;
    border-radius: 5px;
}

.green {
    color: #36AC3B;
}

.brown {
    color: #864b14;
}

.black {
    color: black;
}
.score{
	font-size: 60px;
    line-height: 130px;
}

.control {
    display: none;
    width: 400px;
    height: 400px;
    position: relative;
    left: 50%;
    margin: 20px 0 20px -200px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    text-align: center;
    /*display: flex;*/
    flex-wrap: wrap;
}
.key {
    position: relative;
    width: 32%;
    height:32%;
    background-color: lightgray;
    border-radius: 10px;
    margin: 5px 5px;
}
.key.top,
.key.bottom{
    margin: 5px 34%;
}
.key.right{
    margin-left: 32%;
}
.arrow {
      width: 0;
  height: 0;
  border: 40px solid transparent; 
    display: inline-block;
  margin: 30px 10px;
  position: relative;
  margin: 0px auto;
}
.arrowBottom {
  top:40%;
  border-top-color: gray;  
  border-bottom: 0;
  }
.arrowLeft {
    top:20%;
  border-right-color: gray;  
  border-left: 0;
  }
.arrowTop {
    top:30%;
  border-bottom-color: gray;  
  border-top: 0;
  }
.arrowRight {
    top:20%;
  border-left-color: gray;  
  border-right: 0;
  }
.copy {
     /*display: none;*/
	position: relative;
	width: 100%;
	height: 50px;
	top: 20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    line-height: 50px;
    padding: 1px;
}
