* {
    box-sizing: border-box;
       /*cursor: none;*/
}

html {

    overflow-y: scroll;
}
.layout {
     -ms-interpolation-mode: nearest-neighbor; /* IE 7+  (не стандартное свойство) */
  image-rendering: -webkit-optimize-contrast; /* Safari 6, UC Browser 9.9 */
  image-rendering: -webkit-crisp-edges; /* Safari 7+ */
  image-rendering: -moz-crisp-edges; /* Firefox 3.6+ */
  image-rendering: -o-crisp-edges; /* Opera 12 */
  image-rendering: pixelated; /* Chrome 41+ and Opera 26+ */
    position: absolute;
    background: #808080;
    width: 1280px;
    height: 1024px;
    top: 50%;
    left: 50%;
    margin: -512px 0 0 -640px;
}

.layout__machine {
    position: absolute;
    background: url(../images/dragon/machine.png) center no-repeat;
    background-size: cover;
    width: 750px;
    height: 510px;
    top: 50%;
    left: 50%;
    margin: -255px 0 0 -375px;
    font-size: 40px;
}

.button_panel {
    align-content: flex-start;
    position: absolute;
    top: 43px;
    left: 73px;
    display: flex;
    width: 540px;
    height: 300px;
    flex-wrap: wrap;
}

.layout__button {
     
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 12px;
    background: url(../images/dragon/button.png) center no-repeat;
    background-size: cover;
    width: 111px;
    height: 93px;
}

.layout__button.pressed {
    transform: translateY(3px);
    background: url(../images/dragon/press-button.png) no-repeat;
}

.rights {
    position: absolute;
    background: url(../images/dragon/rights.png) center no-repeat;
    width: 100%;
    height: 60px;
    bottom: 140px;
}
