body {
    box-sizing: border-box;
}

.fon {
    position: relative;
    background: url(../images/strike/fon.jpg) center no-repeat;
    background-size: cover;
    width: 1200px;
    height: 700px;
    margin: 7% auto 0 auto;
}

.proto__wrapper {
    transform: scale(0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -312px 0 0 -536px;
    width: 1072px;
    height: 628px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../images/strike/pad.png) no-repeat;
}

.wrapper {
    position: relative;
    display: flex;
    margin: 15px 0 0 45px;
}

.soundlist {
    display: flex;
    flex-direction: column;
}

.soundlist p,
.start,
.stop,
.clear {
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;
    background: url(../images/strike/bigbutton.png) no-repeat;
    margin-top: 1px;
    border-radius: 5px;
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.soundlist p {
    color: yellow;
}

.soundcolumn {
    display: flex;
    flex-direction: column;
}

.soundcolumn div {
    cursor: pointer;
    width: 55px;
    height: 55px;
    background: url(../images/strike/offbutton.png) no-repeat;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.soundcolumn div.pressed {
    background: url(../images/strike/onbutton.png) no-repeat;
}

.control {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.start {
    color: green;
}

.stop {
    color: crimson;
}

.clear {
    color: yellow;
}

.currentColumn {
    position: relative;
    display: flex;
    justify-content: center;
}

.thisCol {
    position: relative;
    background: url(../images/strike/diodoff.png) no-repeat;
    width: 13px;
    height: 25px;
    margin-right: 42px;
    left: 73px;
}

.thisCol.active {
    background: url(../images/strike/diodon.png) no-repeat;
}

.info {
    display: block;
    font-family: 'Russo One', sans-serif;
    left: 195px;
    font-size: 40px;
    align-self: center;
    color: white;
}

.copy {
    /*position: absolute;*/
    width: 400px;
    text-align: center;
    align-self: center;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    margin: 10px;
    top: 563px;
    left: 50%;
    color: white;
}
